.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 80px;
  background-color: cadetblue;
}

.error-message {
  height: 100%;
  display: flex;
  font-size: 20px;
  margin-top: 18%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_Grid {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inputComponent {
  padding: 10px;
  margin: 10px;
  width: 25%;
  font-size: 16px;
}

.selectComponent {
  padding: 10px;
  margin: 10px;
  width: 10%;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

th {
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 80px;
  background-color: cadetblue;
}

.error-message {
  height: 100%;
  display: flex;
  font-size: 20px;
  margin-top: 18%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_Grid {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inputComponent {
  padding: 10px;
  margin: 10px;
  width: 25%;
  font-size: 16px;
}

.selectComponent {
  padding: 10px;
  margin: 10px;
  width: 10%;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

th {
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 80px;
  background-color: cadetblue;
}

.error-message {
  height: 100%;
  display: flex;
  font-size: 20px;
  margin-top: 18%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_Grid {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inputComponent {
  padding: 10px;
  margin: 10px;
  width: 25%;
  font-size: 16px;
}

.selectComponent {
  padding: 10px;
  margin: 10px;
  width: 10%;
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

th {
  width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
